.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 14px;
  // outline: 1px solid red;

  @include mobile575 {
    // width: 992px;
    padding: 0 32px;
  }

  @include desktop {
    width: 1378px;
    padding: 0 32px;
    margin: 0 auto;
  }
}
